.footer {
    margin-top: auto; 
  }
  
  .social-links {
    display: flex;
    justify-content: space-around;
  }
  
  

  .social-links a img {
    width: 150px;  
    height: 30px;  
  }

  .footer p{
    color: antiquewhite;
    font-size: 2rem;
 }