/* Default styles for larger screens */
.searchContainer {
  padding-top: 10vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: calc(100% - 20px);
  font-size: 1.25rem;
  margin-right: 5px;
  outline: none;
}

.results {
  position: absolute;
  margin-top: 40px;
  z-index: 2;
}

.posters {
  z-index: 1;
}

.results ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.results li {
  margin: 0;
  padding: 10px;
  font-size: 1.25rem;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
}

button:hover {
  color: #007bff;
}

/* Media query for smaller screens */
@media only screen and (max-width: 830px) {
  .searchContainer {
    width: 80%;
  }

  .bar {
    padding: 0 10px;
    gap: 20px;
  }

  input {
    width: calc(100% - 10px);
  }

  .results {
    margin-top: 50px;
  }

  .results li {
    font-size: 1rem;
  }

}

/* Media query for screens with a width of 576px or lower */
@media only screen and (max-width: 576px) {
  .searchContainer {
    width: 90%; /* Adjust width for smaller screens */
  }

  .bar {
    padding: 0 5px;
    gap: 10px; /* Adjust padding for smaller screens */
  }

  input {
    width: calc(100% - 5px); /* Adjust width for smaller screens */
  }

  .results {
    margin-top: 60px; /* Adjust margin-top for smaller screens */
  }

  .results li {
    font-size: 0.7rem; /* Adjust font-size for smaller screens */
  }
}
